<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>EpidMonitor</title>

<link rel="manifest" href="/static/manifest.json">
<link rel="stylesheet" href="/static/style.css">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="EpidMonitor">

<link rel="apple-touch-icon" href="/static/icon-192.png">

</head>

<body>

<div class="header">
EpidMonitor
</div>

<div class="container">

<div class="card">
📊 Эпид аналитика
</div>

<div class="card">
👩‍⚕️ Сотрудники
</div>

<div class="card">
💉 Вакцинации
</div>

<div class="card">
📷 Фото обход
</div>

<div class="card">
📋 Протоколы
</div>

</div>

<script src="/static/app.js"></script>

</body>
</html>